:root {
    --heading-color: #233650;
    --text-color: #5b667b;
    --blue-color: #2265b0;
    --white-color: #ffffff;
    --cadetblue-color: #609d9f;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 2.8125rem;
    color: var(--heading-color);
}

h2 {
    font-size: 2.75rem;
    color: var(--heading-color);
}

h3 {
    font-size: 1.5rem;
    color: var(--heading-color);
}

h4 {
    font-size: 1.375rem;
    color: var(--heading-color);
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1.25rem;
    color: var(--text-color);
}

a {
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
}

button {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 76px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 800;
    color: var(--white-color);
    cursor: pointer;
}

/* -------------------------Header---------------------------- */

.header {
    width: 100%;
    position: relative;
    top: 0;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 1px var(--cadetblue-color);
    background-color: var(--white-color);
}

.container-nav {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.oloid-logo {
    height: 25px;
    width: 150px;
    background-image: url(images/oloid-logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.menu-list li {
    margin: 0 20px;
    cursor: pointer;
}

.fa-chevron-down {
    font-size: 0.8rem;
    margin-left: 10px;
    margin-bottom: 2px;
    transition: 0.1s ease-in-out normal;
}

.drop-down-list {
    position: absolute;
    top: 50px;
    left: 500px;
    height: 500px;
    width: 800px;
    background-color: var(--white-color);
    border-radius: 10px;
    display: none;
}

.menu-list li:hover .fa-chevron-down {
    transform: rotate(180deg);
}

.menu-list li:hover .drop-down-list {
    display: block;
}

.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: #f1f6f9;
    transition: 0.5s;
}

.menu {
    display: none;
}

.menu-icon {
    font-size: 2rem;
}

.close-icon {
    display: flex;
    justify-content: end;
}

.fa-xmark {
    padding: 20px;
    font-size: 2.5rem;
    font-weight: 800;
}

/* ---------------------------------------Main Section--------------------------------------- */

.wrapper {
    width: 100%;
    max-width: 1240px;
    padding: 0;
}

.wrapper-section {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 90px;
}

.section {
    position: relative;
    width: 100%;
}

.section-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gradient-txt {
    background: linear-gradient(to right, #5B9BED 0%, #cc63bc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-section {
    width: 100%;
}

.content {
    width: 50%;
}

.main-left-text-content {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-left {
    padding: 70px 0;
    /* clip-path: polygon(0 0,100% 0,88% 100%,0% 100%); */
    /* content: ""; */
    /* background: linear-gradient(269.74deg,#f2f5f7 .22%,#fefefe 99.77%); */
    z-index: 2;
}

.get-started-btn {
    margin-top: 20px;
}

.fa-arrow-right {
    margin-left: 5px;
}

.clients-logo-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #bcc2cd;
    padding-left: 0;
    padding: 10px 0px 20px 0px;
    gap: 80px;
}

.clients-logo-list li img {
    width: 100%;
    max-width: unset;
}

.identity-and-access-management-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 160px 0;
}

.identity-and-access-management {
    padding: 0;
}

.identity-and-access-management h2 {
    text-align: center;
}

.access-management-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    margin-top: 20px;
}

.access-management-card {
    width: 100%;
    max-width: 320px;
}

.access-management-card img {
    width: 100%;
    height: 240px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.access-management-card img:hover {
    border: 2px solid blue;
    cursor: pointer;
}

.access-management-card:hover .access-management-card img {
    border: 2px solid blue;
}

.access-management-card h3 {
    margin: 20px 0;
}

.access-management-card p {
    height: 160px;
    font-size: 1.125rem;
    line-height: 30px;
}

.cloud-based-section {
    background-color: #f2f4f9;
    padding: 160px 0px 95px;
}

.cloud-based-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cloud-based {
    width: 50%;
}

.cloud-based-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cloud-based-left h2 {
    margin: 30px 0 30px 0;
    padding-right: 56px;
}

.cloud-based-left p {
    margin: 0px 0 30px 0;
    padding-right: 40px;
    line-height: 38px;
}

.cloud-based-right-img {
    height: 800px;
    width: 100%;
    background-image: url(images/Devices-2.2.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.modern-workplace-section {
    padding: 120px 0;
}

.modern-workplace {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modern-workplace h2 {
    text-align: center;
}

.modern-workplace-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.modern-workplace-card {
    width: 250px;
    border: 2px solid #dee3eb;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.modern-workplace-card h3 {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.modern-workplace-card p {
    font-size: 1.125rem;
    margin-top: 0;
    margin-bottom: 35px;
    line-height: 38px;
    height: 112px;
}

.modern-workplace-card:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.modern-workplace-card:hover h3 {
    color: var(--white-color);
}

.modern-workplace-card:hover p {
    color: var(--white-color);
}

.modern-workplace-card:hover a {
    color: var(--white-color);
}

.experience-section {
    background-color: #f2f4f9;
    padding: 160px 0;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experience h2 {
    margin: 10px;
}

.experience p {
    padding: 0 280px;
    line-height: 38px;
}

.experience-img {
    height: 686px;
    width: 100%;
    background-image: url(images/Unify-your-access-control-experience.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.identity-and-access-section {
    padding: 160px 0 100px 0;
    background: linear-gradient(180deg,#fff 53%,#f2f4f9 53%);
}

.identity-and-access {
    display: flex;
    flex-direction: column;
}

.identity-and-access h2 {
    text-align: center;
}

.identity-and-access-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.identity-and-access-card {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 8px 28px 0px rgba(20,20,43,0.1);
    padding: 60px 35px;
    border-radius: 20px;
    background-color: var(--white-color);
}

.identity-and-access-card h3 {
    margin: 0;
    margin: 30px 0 20px 0;
    font-weight: 800;
}

.identity-and-access-card p {
    font-size: 1.125rem;
    margin: 0 0 30px 0;
    line-height: 38px;
}

footer {
    background-color: #233650;
    padding-top: 70px;
}

.footer-1 {
    display: flex;
    flex-direction: column;
}

.footer-1-1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    border-bottom: 1px solid #ffffff26;
}

.footer-1-1-common {
    width: 50%;
}

.footer-1-1-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-1-1-left img {
    height: 35px;
    width: 100%;
    max-width: 140px;
}

.footer-1-1-left h4 {
    margin: 0;
    margin-top: 30px;
}

.footer-1-1-left p {
    font-size: 1.125rem;
    color: var(--white-color);
    margin: 0;
    margin-top: 15px;
    line-height: 30px;
}

.elevate-your-workplace {
    background-color: #f2f4f9;
    padding: 5px 30px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.elevate-form {
    display: flex;
    flex-direction: column;
}

.elevate-form label {
    margin-bottom: 15px;
    font-weight: 600;
}

.elevate-form-1-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.elevate-form-1-1 input {
    padding: 12px 24px;
    border: 1px solid #dee3eb;
    border-radius: 108px;
    box-shadow: 0px 2px 12px rgba(20,20,43,8%);
    font-size: 1.125rem;
    color: #8d95a5;
    width: 100%;
    max-width: 300px;
}

.elevate-form-1-1 button {
    padding: 12px 48px;
    margin-left: 20px;
}

.footer-1-2 {
    color: var(--white-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
    border-bottom: 1px solid #ffffff26;
}

.footer-1-2-common h6 {
    margin: 30px 0;
}

.footer-1-2-list {
    list-style: none;
    padding-left: 0;
}

.footer-1-2-list li {
    margin: 20px 0;
}

.footer-1-2-list li a {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
}

.footer-2 {
    color: var(--white-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-2-list {
    list-style: none;
    padding-left: 0;
}

.footer-2-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer-2-menu li a{
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 400;
}

.copyright-txt p {
    font-size: 1rem;
    color: var(--white-color);
    line-height: 28px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.social-icons li a {
    font-size: 1.8rem;
    color: var(--white-color);
}

.store-img {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/* ---------------------------------------------- */

.video-frame-wrapper {
    /* Add necessary styling for the section */
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .video-set {
    /* Add necessary styling for the video set container */
    display: flex;
    /* Set up horizontal scrolling */
    overflow-x: scroll;
    /* Hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: sticky;
  }
  .video-set::-webkit-scrollbar {
    display: none;
  }
  
  .video-wrapper {
    /* Add necessary styling for each video wrapper */
    flex-shrink: 0;
    width: 100vw;
    height: 100%;
    position: relative;
  }
  
  .theme-lazy-video {
    /* Add necessary styling for the video content */
    display: block;
    width: 100%;
    height: 100%;
    /* Set the background image with parallax effect */
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; Parallax effect */
  }
  

  /* -----------------------------Media Queries----------------------------- */

  /* -------------------max-width: 900px----------------- */

  @media screen and (max-width: 900px) {

    html {
        font-size: 14px;
    }

    .menu {
        display: block;
    } 

    .menu-list {
        display: none;
    }

    .contact-us-btn {
        display: none;
    }

    .wrapper-section {
        margin-top: 70px;
    }

    .main-left {
        padding: 70px 20px;
    }

    .clients-logo-list {
        gap: 30px 60px;
    }

    .identity-and-access-management-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 0 120px 0;
    }

    .identity-and-access-management h2 {
        font-size: 2.5rem;
        line-height: 44px;
        padding: 0 20px;
        font-weight: 800;
    }

    .access-management-list {
        padding: 0 20px;
        margin-top: 40px;
    }

    .access-management-card h3 {
        font-size: 1.75rem;
        line-height: 34px;
        font-weight: 800;
        margin: 20px 0;
        height: 60px;
    }

    .access-management-card p {
        height: 260px;
        font-size: 1.3rem;
        line-height: 30px;
    }

    .access-management-card a {
        font-size: 1.3rem;
    }

    .cloud-based-section {
        background-color: #f2f4f9;
        padding: 80px 0px;
    }

    .cloud-based-main {
        align-items: center;
        padding: 20px;
    }

    .cloud-based-left button {
        font-size: 1.25rem;
    }

    .cloud-based-right-img {
        height: 486px;
    }

    .modern-workplace-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .modern-workplace-card {
        width: 400px;
    }

    .modern-workplace-card p {
        font-size: 1.25rem;
        margin-top: 0;
        margin-bottom: 35px;
        line-height: 28px;
        height: 112px;
    }

    .experience-section {
        padding: 80px 0;
    }

    .experience p {
        font-size: 1.5rem;
        padding: 0 40px;
        line-height: 38px;
    }

    .experience-img {
        height: 425px;
    }

    .identity-and-access-section {
        padding: 60px 0 100px 0;
    }

    .identity-and-access-list {
        padding: 0 20px;
    }

    .identity-and-access-card p {
        font-size: 1.125rem;
        margin: 0 0 30px 0;
        line-height: 28px;
    }

    .identity-and-access-card button {
        font-size: 1.125rem;
    }

    .footer-1-1 {
        padding: 0 20px;
        padding-bottom: 50px;
    }

    .footer-1-1-left {
        padding: 0 20px;
    }

    .elevate-your-workplace {
        background-color: #f2f4f9;
        padding: 20px 30px;
        padding-bottom: 50px;
        border-radius: 10px;
    }

    .elevate-form-1-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .elevate-form-1-1 input {
        padding: 12px 24px;
        border: 1px solid #dee3eb;
        border-radius: 108px;
        box-shadow: 0px 2px 12px rgba(20,20,43,8%);
        font-size: 1.125rem;
        color: #8d95a5;
        width: 100%;
        max-width: 260px;
    }

    .elevate-form-1-1 button {
        font-size: 1.2rem;
        padding: 10px 80px;
        margin-left: 0px;
        margin-top: 30px;
        font-weight: 800;
    }

    .footer-1-2 {
        padding: 40px 20px;
        gap: 40px;
    }

    .footer-1-2 h6 {
        font-size: 1.45rem;
        margin: 0;
        margin-bottom: 25px;
    }

    .footer-1-2-common {
        margin: 15px 0;
    }

    .footer-1-2-list li a {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .footer-2 {
        flex-direction: column;
        padding: 20px;
    }

    .footer-2-menu {
        margin-bottom: 20px;
    }

    .footer-2-menu li a {
        font-size: 1.5rem;
    }

    .copyright-txt p {
        font-size: 1.5rem;
        text-align: center;
        line-height: 28px;
    }

    .social-icons {
        margin-top: 30px;
    }

    .social-icons li a {
        font-size: 2.2rem;
    }

  }

  /* -------------------max-width: 500px----------------- */

  @media screen and (max-width: 500px) {

    html {
        font-size: 10px;
    }

    .menu {
        display: block;
    } 

    .menu-list {
        display: none;
    }

    .contact-us-btn {
        display: none;
    }

    .wrapper-section {
        margin-top: 65px;
    }

    .wrapper {
        width: 100%;
        max-width: 1240px;
        padding: 0 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .content {
        width: 100%;
    }

    .main-left {
        padding: 20px 0 40px 0;
    }

    .main-left-text-content {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .main-left-text-content h1 {
        font-size: 2.5rem;
        line-height: 34px;
        font-weight: 800;
        text-align: center;
    }

    .main-left-text-content p {
        font-size: 1.5rem;
        line-height: 28px;
        text-align: center;
    }

    .main-left-text-content button {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .clients-logo-list {
        padding: 10px 0px 20px 0px;
        gap: 40px;
    }

    .clients-logo-list li img {
        width: 100%;
        max-width: 60px;
    }

    .identity-and-access-management-section {
        padding: 20px 0 40px 0;
        background-color: #f2f4f9;
    }

    .identity-and-access-management {
        padding: 0 20px;
    }

    .identity-and-access-management h2 {
        font-size: 2.5rem;
        text-align: center;
        line-height: 34px;
    }

    .access-management-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
    }

    .access-management-card {
        margin: 10px 0;
    }

    .access-management-card p {
        height: 100px;
        font-size: 1.48rem;
    }

    .access-management-card a {
        height: 100px;
        font-size: 1.5rem;
    }

    .cloud-based-section {
        background-color: #f2f4f9;
        padding: 40px 0px;
    }

    .cloud-based-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cloud-based {
        width: 100%;
    }

    .cloud-based-left {
        align-items: center;
        text-align: center;
        margin-bottom: 45px;
    }

    .cloud-based-left h2 {
        padding-right: 0px;
    }

    .cloud-based-left p {
        padding-right: 0px;
        font-size: 1.5rem;
        line-height: 30px;
        padding: 0 8px;
    }

    .cloud-based-right-img {
        height: 424px;
        width: 100%;
        background-image: url(images/Devices-2.2.webp);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .modern-workplace-section {
        padding: 40px 0;
    }

    .modern-workplace h2 {
        text-align: center;
        font-size: 2.5rem;
        line-height: 34px;
    }

    .modern-workplace-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .modern-workplace-card {
        width: 280px;
    }

    .modern-workplace-card h3 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .modern-workplace-card p {
        font-size: 1.3rem;
        margin-top: 0;
        margin-bottom: 35px;
        line-height: 24px;
        height: 50px;
    }

    .modern-workplace-card a {
        font-size: 1.5rem;
    }

    .experience-section {
        padding: 30px 0;
    }
    
    .experience p {
        padding: 0 32px;
    }

    .experience-img {
        height: 186px;
    }

    .identity-and-access-section {
        padding: 20px 0;
        background: linear-gradient(180deg,#fff 53%,#f2f4f9 53%);
    }

    .identity-and-access-list {
        flex-direction: column;
        padding: 0 12px;
    }

    .identity-and-access {
        text-align: center;
        align-items: center;
    }

    .identity-and-access-card {
        width: 100%;
        max-width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 25px;
    }

    .identity-and-access-card h3 {
        font-size: 1.8rem;
        margin: 0;
        margin: 20px 0 10px 0;
        font-weight: 800;
    }

    .identity-and-access-card p {
        font-size: 1.42rem;
        line-height: 28px;
        margin: 0;
    }

    .identity-and-access-card button {
        margin-top: 20px;
        font-size: 1.6rem;
    }

    .footer-1-1 {
        flex-direction: column;
        padding: 0 25px;
        padding-bottom: 50px;
    }

    .footer-1-1-common {
        width: 100%;
    }

    .footer-1-1-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer-1-1-left h4 {
        margin: 0;
        margin-top: 30px;
        text-align: center;
        font-size: 2.2rem;
        line-height: 30px;
    }
    
    .footer-1-1-left p {
        font-size: 1.5rem;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 35px;
        text-align: center;
    }

    .elevate-your-workplace h3 {
        font-size: 1.68rem;
        font-weight: 800;
        text-align: center;
        line-height: 24px;
    }

    .elevate-form-1-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .elevate-form label {
        font-size: 1.5rem;
    }

    .elevate-form-1-1 input {
        width: 100%;
        max-width: 200px;
        padding: 15px 28px;
    }
    
    .elevate-form-1-1 button {
        font-size: 1.6rem;
        padding: 12px 100px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .footer-1-2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
    }

    .footer-1-2 h6 {
        font-size: 2rem;
        margin: 0;
        margin-bottom: 25px;
    }

    .footer-1-2-common {
        margin: 15px 0;
    }

    .footer-1-2-list li a {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .footer-2 {
        flex-direction: column;
        padding: 20px;
    }

    .footer-2-menu {
        margin-bottom: 20px;
    }

    .footer-2-menu li a {
        font-size: 1.5rem;
    }

    .copyright-txt p {
        font-size: 1.5rem;
        text-align: center;
        line-height: 28px;
    }

    .social-icons {
        margin-top: 30px;
    }

    .social-icons li a {
        font-size: 2.2rem;
    }
  }